.body {
  margin: 0rem;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.display-scores,
.timer {
  margin: 1rem;
  padding: 1rem;
  border: solid 0.1rem #000000;
}
/* .quiz-start, */
/* .submit-score-form, */
.quiz-container {
  margin: 20rem;
  border: solid 0.1rem #000000;
  height: 25rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.quiz-heading,
.quiz-text,
.question-heading,
.form-heading,
.form-text {
  text-align: center;
}
.container-start-button {
  margin: 3rem;
  position: relative;
  height: 2rem;
}
.start-button,
.answer-button,
.input-score .submit-score-button {
  /* background-color: rgba(0, 0, 255, 0.521); */
  margin: 1rem;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
}
.question-answer {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem;
}
