.body {
  margin: 0rem;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.display-scores,
.timer {
  margin: 1rem;
  padding: 1rem;
  border: solid 0.1rem #000000;
}
.quiz-start {
  margin: 2git0rem;
  border: solid 0.1rem #000000;
  height: 25rem;
}
.quiz-header,
.quiz-text {
  text-align: center;
}
.container-start-button {
  margin: 3rem;
  position: relative;
  height: 2rem;
}
.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
